/* ----- Custom properties ----- */
:root {
  --clr-primary-500: hsl(0, 100%, 74%);

  --clr-primary-600: hsl(154, 59%, 51%);
  --clr-primary-650: hsl(154, 59%, 65%);

  --clr-accent-500: hsl(248, 32%, 49%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-500: hsl(246, 25%, 77%);
  --clr-neutral-900: hsl(249, 10%, 26%);

  --ff-base: 'Poppins', sans-serif;

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  --fs-300: 0.6875rem;
  --fs-400: 0.875rem;
  --fs-500: 1rem;
  --fs-900: 1.7rem;
}

@media (min-width: 48rem) {
  :root {
    --fs-300: 0.75rem;
    --fs-900: 3.0625rem;
  }
}

/* ----- Josh Comeau CSS Reset ----- */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* ----- Utilities ----- */
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.shadow {
  box-shadow: 0px 7px 0px 1px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: 0px 7px 0px 1px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px 7px 0px 1px rgba(0, 0, 0, 0.21);
}

.inset-shadow {
  box-shadow: 0px -2px 0px 1px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0px -2px 0px 1px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0px -2px 0px 1px rgba(0, 0, 0, 0.1) inset;
}

.hidden {
  display: none;
}
/* ----- General styling ----- */
body {
  font-family: var(--ff-base);
  background-color: var(--clr-primary-500);
  background-image: url('../images/bg-intro-mobile.png');
}

@media (min-width: 48rem) {
  body {
    padding: 1rem;
    background-image: url('../images/bg-intro-desktop.png');
  }
}

footer {
  color: var(--clr-neutral-100);
  width: 100%;
  text-align: center;
}

@media (min-width: 48rem) {
  main {
    margin: 0 auto;
    height: 100vh;
    max-width: 69.375rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    gap: 1.65rem;
  }
}

footer a {
  color: var(--clr-accent-500);
  font-weight: var(--fw-600);
  text-decoration: none;
}

/* ----- Intro ----- */
.intro {
  padding: 2rem;
  color: var(--clr-neutral-100);
  text-align: center;
}

@media (min-width: 48rem) {
  .intro {
    padding: 0;
    text-align: left;
  }
}

.intro__heading {
  font-size: var(--fs-900);
  line-height: 1.4;
}

@media (min-width: 48rem) {
  .intro__heading {
    line-height: 1.1;
    margin-bottom: 1.5rem;
  }
}

/* ----- Form ----- */
.form {
  padding: 2rem 1.5625rem;
}

@media (min-width: 48rem) {
  .form {
    width: 100%;
    padding: 0;
  }
}

.form__banner {
  text-align: center;
  padding: 1.25rem 3.5rem;
  margin-bottom: 1.25rem;
  color: var(--clr-neutral-100);
  background-color: var(--clr-accent-500);
  border-radius: 0.75rem;
}

@media (min-width: 48rem) {
  .form__banner {
    padding: 1.075rem 3.5rem;
    margin-bottom: 1.5rem;
  }
}

.form__banner-description {
  font-weight: var(--fw-400);
}

.form__banner-highlight {
  font-weight: var(--fw-600);
}

.form__form {
  padding: 1.5625rem;
  border-radius: 0.75rem;
  background-color: var(--clr-neutral-100);
  display: grid;
  gap: 1rem;
}

@media (min-width: 48rem) {
  .form__form {
    gap: 1.25rem;
    padding: 2.5rem;
  }
}

.form__form-field {
  position: relative;
}

.form__input {
  width: 100%;
  border: 1px solid var(--clr-neutral-500);
  border-radius: 0.25rem;
  padding: 0.875rem 1.2rem;
}

.form__input::placeholder {
  color: var(--clr-neutral-900);
  font-weight: var(--fw-700);
  font-size: var(--fs-400);
}

.form__input:focus {
  border: 1px solid var(--clr-accent-500);
}

.form__input:focus-visible {
  outline: 1px solid var(--clr-accent-500);
}

.form__input-error {
  border: 3px solid var(--clr-primary-500);
}

.form__input-error-icon {
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.form__input-error-msg {
  color: var(--clr-primary-500);
  font-size: var(--fs-300);
  font-style: italic;
  text-align: left;
  position: absolute;
  bottom: -1.25rem;
  right: 0;
}

.form__submit {
  text-transform: uppercase;
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-600);
  font-weight: var(--fw-600);
}

.form__submit:is(:hover, :focus-visible) {
  background-color: var(--clr-primary-650);
  cursor: pointer;
}

.form__terms {
  text-align: center;
  padding: 0rem 1rem;
  color: var(--clr-neutral-500);
  font-size: var(--fs-300);
}

.form__terms a {
  color: var(--clr-primary-500);
  text-decoration: none;
  font-weight: var(--fw-700);
}
